<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aitewei.manager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.ManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--*****************第三方 begin******************-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!--Todo 打包别忘了更改包名-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.aitewei.managertest.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--*****************第三方 end******************-->

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ship.ShipBaseInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ship.ShipCabinListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ship.ShipCargoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ship.SetCabinPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ship.ShipCabinDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ship.ShipListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statistics.StatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statistics.Statistics1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statistics.StatisticsResult1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statistics.Statistics2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statistics.StatisticsResult2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ship.CargoProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ship.ShipUnloaderProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ship.ShipUnloaderDetailProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.statistics.AllShipListActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>